body {
    background-color: rgba(228, 50, 50, 0.877);
}

/* title */
header {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 36px;
    font-weight: 600;
    margin: 20px;
}


form {
    box-shadow: 1px 2px 2px black;
    margin: 0 auto;
    padding-top: 25px;
    background-color: white;
    text-align: center;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

/* 2 columns right and left */
.leftside {
    display: inline-block;
    text-align: right;
    width: 45%;
}

.rightside {
    display: inline-block;
    text-align: left;
    width: 45%;
    padding-left: 1vw;
} 
/* end of columns */

h4, {
    margin: 0;
    padding: 30px 0 0 0;
}

h4, label, p {
    font-size: 20px;
    font-weight: 700;
}

input {
    margin: 1em 0;
    padding-right: 5px;
}

#dropdown {
    border: 1px solid black;
}

.room, .lobby {
    padding-bottom: 2vh;
}

/* bold staff radio buttons */
.checkbox label, .radio label {
    font-weight: 700;
}

 /* move radio, checkbox and textarea h4 tag */
.h4-staff {
    display: block;
    position: relative; 
    top: -60px;
}

.h4-amenities {
    display: block;
    position: relative;
    top: -170px;
}

.h4-comments {
    display: block;
    position: relative;
    top: -85px;
}

.radio input[type=radio] {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.input-field, textarea {
    border: 1px solid gray;
    width: 20vw;
}

/* submit button */
button {
    margin: 20px 0;
}

button:hover {
    color: white;
    background-color: rgba(228, 50, 50, 0.877);
}

footer {
    text-align: center;
    font-weight: 700;
    margin: 20px 0;
    font-size: 16px;
}

/* for smaller screen devices */
@media (max-width: 500px) {
    main {
        margin: 0 auto;
    }
    .leftside {
        margin: 0 auto;
        display: block;
        text-align: center;
        width: 100%;
    }

    .rightside {
        margin: 0 auto;
        display: block;
        text-align: center;
        width: 100%;
    }

    h1 {
        font-size: 80%;
    }

    label, h4, p {
        font-size: 5vw;
        
    }

    input {
        margin: 2px 0px 5px 0px;
        padding-top: 5px;
    }

    h4 {
        padding:10px 20px;
    }

    .input-field, textarea {
        border: 1px solid gray;
        width: 200px;
    }

    textarea {
        width: 70vw;
    }

    .h4-staff, .h4-amenities, .h4-comments {
        top: 0px;
    }
    
    .radio, .amenities-checkbox {
        text-align: left;
        position: relative;
        left: 30vw;
    }
    
}